<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Skeleton App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <h1>Skeleton App</h1>
    <p>app de prueba Ionic</p>
  </div>

  <div>
    <h3>Bienvenido!</h3>
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Password" labelPlacement="floating" placeholder="Enter text"></ion-input>
    </ion-item>
    <ion-button expand="full">Full</ion-button>
    <a href="">Crea tu cuenta</a>
  </div>
    
  
</ion-content>
